
<div class="col-md-12 text-center">
  <div class="background-image"></div>
  <p>本アプリは、病院を新規登録から始めて下さい。</p>
  <br>
  <p>新規登録画面にて病院名をご登録頂き、一覧ページにて診療科登録ボタンがあるので、診療科を登録して下さい。</p>
  <br>
  <p>診療科を登録後、ログアウトしてユーザー側から入室して下さい。</p>
  <br>
  <p>その後病院検索、診療科を選択し受付を完了して下さい。(検索後、病院はお気に入り可能です。)</p>
  <br>
  <p>ユーザー側の処理は終わったのでログアウトし、病院からログインすると診療科の横に</p>
  <br>
  <p>呼び出しボタンが出ていますので呼び出しボタンを押し、病院の操作は終了となります。</p>
  <br>
  <p>ユーザー側にログインし、受付完了ページに行くと受付情報もなくなっているはずです。</p>
</div>