<div class="col-md-12 text-center">
<h1>病院情報</h1>
<p>待ち時間: <%= @hospital.name %></p>

<h2>診療科</h2>
<div class="row">
<% @hospital.medical_departments.each do |department| %>
  <div class="col-sm-4">
    <%= link_to department.name, medical_department_path(department) %>
  </div>
<% end %>
</div>

<%= link_to '戻る', tops_path %>
</div>