<div class="col-md-12 text-center">
<h1>病院情報</h1>
<h4><%= @hospital.name %></h4>

<h5>診療科</h5>
<div class="row">
<% @hospital.medical_departments.each do |department| %>
  <div class="col-sm-4">
    <%= link_to department.name, medical_department_path(department) %>
  </div>
<% end %>
</div>

<%= link_to '戻る', tops_path, class: "btn btn-secondary btn-sm text-white" %>
</div>