/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 @import "bootstrap";
 @import "homes";
 @import "medical_departments";
 @import "hospitals";



body{
  background-color: rgb(221, 247, 247);
  padding-bottom: 110px;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  }
  .container {
  background: #d9fbff;
  height: auto;
  padding: 0;
  }

  .row{
    margin-top: 20px;
    margin-bottom: 10px;
  }

  #error_explanation ul {
    list-style-type: none;
  }

  #error_explanation {
    color: red;
  }

  .alert{
    color: red;
  }

 .bg-green {
  background-color: #bbe2bc;
 }