// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.nav-pills li {
  margin-right: 10px;
}

.nav-pills li a {
  letter-spacing: 3px;
}

.background-image p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: rgba(255, 255, 255, 0.5);
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 3px;
  text-shadow: 1px 1px 1px black;
}

.background-image {
  background-image: image-url("3619763_s.jpg");
  background-size: cover;
  background-position: center;
  position: fixed;
  opacity: 0.4;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  pointer-events: none;
}


